@tailwind base;
@tailwind components;
@tailwind utilities;

 
 
.inshadow{
    box-shadow: inset 0 0 10px #ffffff1c;
  }
  .loginshadow{
    box-shadow: inset 0 0 10px #3b83f65d;
  }

  body {
    --sb-track-color: #1b1b1b;
    --sb-thumb-color: #585858;
    --sb-size: 8px;
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size);
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 14px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 14px;
  }

  .searchbg {
    --sb-track-color: #1b1b1b;
    --sb-thumb-color: #585858;
    --sb-size: 8px;
  }
  
  .searchbg::-webkit-scrollbar {
    width: var(--sb-size);
  }
 
  .searchbg::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 14px;
  }
  
  .searchbg::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 14px;
  }

  .App-Container {
    @apply bg-gray-900;
  }
 
  .logo{
    background: rgb(17,17,17);
    background: linear-gradient(90deg, #ffffffb4 18%, #0a73fd 115%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  @keyframes bounce {
    0% {
        transform: translateY(-15%);
        animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
}
.bounce {
    animation: bounce 1s ;
}